# Configuração do modelo e API Key
OPENAI_MODEL=openai/gpt-4o-mini
OPENAI_API_KEY=[insira sua chave OpenAI aqui]

# Variáveis de telemetria da CrewAI
CREWAI_DISABLE_TELEMETRY=true
OTEL_SDK_DISABLED=true
